*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    height: 100%;
}

body {
    box-sizing: border-box;
    height: 100%;
    position: relative;
    background-image: url("/src/assets/pattern-curve.svg");
    background-size: cover;
    background-color: lightgrey;
}

.attribution{
    // margin-top: 3rem;
    // position: absolute;
    // bottom: 0;
}